.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo svg {
  width: 100%;
  height: 100%;
  display: block;
}

.small {
  width: 40px;
  height: 40px;
}

.medium {
  width: 50px;
  height: 50px;
}

.large {
  width: 80px;
  height: 80px;
}
