.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.logoImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}

.small {
  width: 45px !important;
  height: 45px !important;
  min-width: 45px;
  min-height: 45px;
}

.medium {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px;
  min-height: 50px;
}

.large {
  width: 80px !important;
  height: 80px !important;
  min-width: 80px;
  min-height: 80px;
}
